<!-- <!DOCTYPE html>
<html>
<head>
  <title>Checkbox Navigation</title>
  <script>
    var previousLink = ""; // Biến lưu trữ liên kết trước đó

    function handleCheckboxChange() {
      var checkbox = document.getElementById('myCheckbox');
      var link = document.getElementById('myLink');

      if (checkbox.checked) {
        // Nếu checkbox được chọn, lưu trữ liên kết trước đó và điều hướng đến liên kết mới
        previousLink = window.location.href;
        window.location.href = link.href;
      } else {
        // Nếu checkbox không được chọn, quay trở lại liên kết trước đó
        window.location.href = previousLink;
      }
    }
  </script>
</head>
<body>
  <input type="checkbox" id="myCheckbox" onchange="handleCheckboxChange()" />
  <a id="myLink" href="../TrangChu/AllSanPham?action=1">Link khác</a>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>