<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="page-1">
        <!-- Nội dung trang 1 -->
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse2.mm.bing.net/th?id=OIP.lychYL2QnsI8uhMuIS5v5gHaIk&pid=Api&P=0&h=180" alt="" srcset="">
      
    </div>
      
      <div id="page-2">
        <!-- Nội dung trang 2 -->
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
        <img src="https://tse4.mm.bing.net/th?id=OIP.DOKO91fR3obOU4XbKn7mtgHaHa&pid=Api&P=0&h=180" alt="" srcset="">
      
    </div>
      <a href="#page-2" onclick="scrollToPage('page-2')">Chuyển đến trang 2</a>

      <!-- Các div cho các trang khác nếu có -->
      <script>
        function scrollToPage(pageId) {
          var targetDiv = document.getElementById(pageId);
        
          if (targetDiv) {
            // Sử dụng phương thức scrollIntoView để trượt đến div chứa trang 2
            targetDiv.scrollIntoView({ behavior: 'smooth', block: 'start' });
          }
        }
        </script>
        
              
</body>
</html>